:root{
    --primary-color: #FFF47E; 
    --secondary-color: #FF914D; 
    --text-color: #ffffff; 
    --hover-text-color:#ffaa76;
    --hover-text-button-color:#e7e7e7; 
    --hover-button-color:#d87a40;
    --font-family: 'Istok Web', Arial, sans-serif; 
}

body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
}

#navbar {
    height: 7vw;
}

#footer{
    min-height: 7vw;
    height: 7vw;
    box-sizing: border-box;
    overflow: hidden;
}

#contenido {
    flex: 1;
}

@media (max-width:560px){
    #navbar, #footer{
        height: 15vw;
    }
}