:root{
    --primary-color: #FFF47E; 
    --secondary-color: #FF914D; 
    --text-color: #ffffff; 
    --hover-text-color:#ffaa76;
    --hover-text-button-color:#ffffff; 
    --hover-button-color:#ffaa76;
    --placeholder-color:#b2b1ba;
    --shadow-color: #f7f571ca; 
    --error-color: #f42b2b;
    --font-family: 'Istok Web', Arial, sans-serif; 
}

body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    font-size: 1.68vw;
    cursor: default;
}

h2{
    font-family: var(--font-family);
    font-weight: bold;
    color: var(--secondary-color);
    margin: 0px;
    font-size: 2.78vw;
}

h5{
    font-family: var(--font-family);
    font-weight: bold;
    color: var(--hover-text-color);
    font-size: 1.68vw;
    margin: 0px;
    margin-bottom: 2%;
}

label{
    font-size: 1.68vw;
    grid-column: 1;
}

input[type="number"] {
    font-size: 1.68vw;
    padding: 0.75vw;
    padding-left: 1vw;
    border: 5px solid var(--secondary-color);
    border-radius: 5px;
    grid-column: 2;
}
input[type="number"]:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px var(--shadow-color);
  outline: none;
}

input[type="number"]::placeholder {
  color: var(--placeholder-color);
}

input[type="number"].invalido{
    color: var(--error-color);
}

.label-input input[type="number"] {
    width: 100%;
    box-sizing: border-box;
}

input[type="button"]{
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-weight: bold;
    border: none;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.68vw;
}

input[type="button"]:hover{
    background-color: var(--hover-button-color);
    color: var(--hover-text-button-color);
}

.label-input{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 25%;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

#navbar {
    height: 7vw;
}

#footer{
    min-height: 7vw;
    height: 7vw;
    box-sizing: border-box;
    overflow: hidden;
}

#contenido {
    flex: 1;
    margin-top: 1.5%;
    margin-bottom: 2%;
    margin-right: 1.75%;
    margin-left: 1.75%;
}

@media (max-width:560px){
    #navbar, #footer{
        height: 15vw;
    }

    body{
        font-size: 4vw;
    }
}