:root{
    --primary-color: #FFF47E; 
    --secondary-color: #FF914D; 
    --text-color: #ffffff; 
    --hover-text-color:#ffaa76;
    --hover-text-button-color:#e7e7e7; 
    --hover-button-color:#d87a40;
    --font-family: 'Istok Web', Arial, sans-serif; 
}

body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#navbar {
    height: 7vw;
    overflow: auto;
}

#contenido {
    flex: 1;
}

@media (max-width:560px){
    #navbar{
        height: 12vw;
    }
}